* {
  margin: 0;
  padding: 0;
  font-size: 100%;
  font-family: Arial, Helvetica, sans-serif;
  scroll-behavior: smooth;
}

body {
  width: 100%;
  height: 100%;
  margin: auto;
}

header {
  position: fixed;
  width: 100%;
  z-index: 10;
}

.menu {
  width: 100%;
  height: 100px;
  background: black;
  display: flex;
  justify-content: space-around;
  align-items: center;
  padding: 16px 0px;
}

.logo img {
  padding: 16px;
  width: 30%;
  height: 50%;
}

div.itens a:hover {
  color: grey;
}

.itens ul li {
  display: inline-block;
  text-decoration: none;
  padding: 10px;
  margin-right: 20px;
  margin-top: 10px;
}

.itens ul li a {
  color: #fff;
  text-decoration: none;
}

.texto h1 {
  color: black;
  text-align: center;
  text-shadow: 1px 1px 2px rgb(42, 42, 42);
  font-size: 22px;
  font-family: 'Oswald', sans-serif;
}

.texto p {
  text-align: justify;
}

.mensagem {
  width: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
  padding-right: 20px;
}

.mensagem p {
  color: #fff;
  font-size: 40px;
  font-family: "Redressed";
}

.sobre-nos {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 900px;
}

.sobre-nos .texto {
  width: 70%;
  z-index: 2;
  background-color: rgb(221, 217, 217);
  padding: 10px;
  margin: auto;
  box-shadow: 5px 5px 20px rgb(202, 202, 202);
  border-radius: 10px;
}

.sobre-nos img {
  width: 30%;
  transform: rotate(-45deg);
  position: absolute;
  right: 85px;
  margin-top: 150px;
}


@media (max-width: 710px) {
  .itens ul li a span {
    display: none;
  }
}

.footer {
  width: 90%;
  float: left;
  padding: 5% 5%;
  text-align: center;
  background: black;
}

.social-icons a {
  font-size: 1.5em;
  color: rgba(255, 255, 255, 0.7);
  margin-right: 3%;
}

.social-icons a:hover {
  color: rgb(255, 255, 255);
}

.social-icons a:last-child {
  margin-right: 0;
}

.copyright {
  margin-top: 15px;
  color: rgba(255, 255, 255, 0.7);
  font-size: 20px;
}

.copyright a {
  color: rgba(255, 255, 255, 0.7);
  font-size: 20px;
}