:root {
  --white: #fff;

  --blue-100: #1e90ff;
  --blue-200: #1570bd;
  --blue-300: #0047ab;
  --blue-400: #192bc2;
  --blue-800: #0000ff;

  --gray-100: #e1e1e6;
  --gray-300: #c4c4cc;
  --gray-400: #8d8d99;
  --gray-600: #323238;
  --gray-700: #29292e;
  --gray-800: #202024;
  --gray-900: #121214;

  --red-500: #f75a68;
}

:focus {
  outline: transparent;
  box-shadow: 0 0 0 2px var(--blue-400);
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  -webkit-font-smoothing: antialiased;
}

body, input, textarea, button {
  font-family: 'Roboto', sans-serif;
  font-weight: 400;
  font-size: 1rem;
}

.input {
  background: transparent;
  border: 2px solid var(--gray-700);
  border-radius: 6px;

  padding: 0.25rem;
}

.button {
  background-color: var(--blue-400);
  
  padding: 1rem 1.5rem;
  
  border: 0;
  border-radius: 8px;
  
  font-weight: bold;
  color: var(--white);

  cursor: pointer;
}

.anchor {
  text-decoration: none;
  color: var(--white);
}

.copyrightNotice {

}
